@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Alkalami&family=Mukta:wght@200;300;400;500&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-image: url(assets/ethan-mcarthur-ROQzKIAdY78-unsplash-scaled.jpg);
    background-size: cover;
}

.title{
    font-family: 'Alkalami',sans-serif;
    color: #ecf0f1;
    text-align: center;
    background-color: #f59300;
    padding: 2px 2px;
    margin: 30px;
}

.container .heading{
    font-family: 'Alkalami',sans-serif;
    padding: 15px;
    text-align: center;
}

.container{
    font-family: 'Alkalami', sans-serif;
    border-radius: 10px;
    text-align: center;
    margin: 20vh 20vw;
}

.middle {
    color: #060606;
    display: flex;
    justify-content: space-between;
}

.converter{
    padding: 20px;
}

#from_currency{
    border-radius: 7px;
    margin-bottom: 4px;
}

#to_currency{
    border-radius: 7px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.middle button{
    background-color: #fff;
    border: 2px solid #ecf0f1;
    border-radius: 50%;
    cursor: pointer;
    color: #030303;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    transform: rotate(90deg);
}

.middle button:active {
    transform: rotate(90deg) scale(0.9);
   }

.middle .rate {
    background-color: #fff;
    border: 2px solid #ecf0f1;
    border-radius: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0 10px;
    margin: 30px 15px 30px 25px;
   }